$halfwhite: rgba(255, 255, 255, 0.5);
$quarterwhite: rgba(255, 255, 255, 0.25);
$darkblue:linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
$orange:linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
$lightorange:#EB7B5B;
$halfblack:rgba(0, 0, 0, 0.5);