$halfwhite: rgba(255, 255, 255, 0.5);
$quarterwhite: rgba(255, 255, 255, 0.25);
$darkblue:linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
$orange:linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
$lightorange:#EB7B5B;
$halfblack:rgba(0, 0, 0, 0.5);

.bg-image {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-image2 {
    background-image: url(/img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-darkblue {
    background: $darkblue;
}

.bg-orange {
    background: $orange;
}

.bg-lightorange {
    background: $lightorange;
}

.bg-halfblack {
    background: $halfblack;
}

.lightorange {
    color: $lightorange;
}

.black {
    color: black;
}

.white {
    color: white;
}

.halfwhite {
    color: $halfwhite;
}

.halfblack {
    color: $halfblack;
}

.quarterwhite {
    color: $quarterwhite;
}


@media screen and(max-width:1024px) {}

@media screen and(max-width:414px) {}